@{
  Layout = "_Layout";
}

@using PierresSweetAndSavoryTreats.Models;
@model PierresSweetAndSavoryTreats.Models.Flavor;

<div class="main">
  <p>Complete the form to add a flavor tag to the database.</p>
  <p>@Html.ValidationMessageFor(entry => entry.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(entry => entry.Name)
    @Html.TextBoxFor(entry => entry.Name)
    <input type="submit" value="Create Flavor Tag"/>
  }
</div>

<hr/>
<p>@Html.ActionLink("Back to Flavor Tag List", "Index")</p>