@{
  Layout = "_Layout";
}

@using PierresSweetAndSavoryTreats.Models;
@model PierresSweetAndSavoryTreats.Models.Flavor;

<div class="main">
  <p>Are you sure you want to remove this flavor from the database?</p>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Remove from Database"/>
  }
</div>  
<hr/>

<p>@Html.ActionLink("Back to Flavor Details", "Details", new { id = Model.FlavorId })</p>