@model PierresSweetAndSavoryTreats.Models.Flavor

<h2>@Model.Name</h2>

<p>
    <a asp-action="Edit" asp-route-id="@Model.FlavorId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.FlavorId">Delete</a> |
    <a asp-action="Index">Back to List</a>
</p>