@{
  Layout = "_Layout";
}

@using PierresSweetAndSavoryTreats.Models;
@model PierresSweetAndSavoryTreats.Models.Treat;

<div class="subheader bg">
  <h4>Pierre's Treats > Remove</h4>
</div>
<br/>

<div class="main">
  <p>Are you sure you want to remove this treat from the database?</p>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete Entry"/>
  }
</div>

<hr/>
<p>@Html.ActionLink("Back to Treat Details", "Details", new { id = Model.TreatId }) </p>