@model PierresSweetAndSavoryTreats.Models.Treat

<h2>Delete Treat</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="TreatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Cancel</a>
    </form>
</div>